$dot-color: #099855;
$nav-color: #02501d;

.layer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  .container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    .trustedBy {
      padding-left: 20px;
      color: rgb(176, 175, 175);
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
