@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&display=swap');
.fiverrbusiness {
  display: flex;
  background-color: #0d084d;
  justify-content: center;
  .container {
    display: flex;
    gap: 40px;
    width: 1200px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    .leftSide {
      .heading {
        font-size: 34px;
        font-weight: bolder;
        margin-bottom: 20px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .contentElement {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: 700;
          .contentElementInner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            img {
              width: 35px;
              height: 35px;
            }
            div {
              font-size: 22px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .rightSide {
      .conImage {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
