.fiverrbusiness {
  display: flex;
  background-color: #0d084d;
  justify-content: center;
  .container {
    display: flex;
    gap: 40px;
    width: 1200px;
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
    .leftSide {
      .heading1 {
        font-weight: normal;
        margin-bottom: 30px;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .fiverrHeading1 {
          font-weight: 800;
        }
        .fiverrHeading2 {
        }
        .fiverrHeading3 {
          background-color: #584aff;
          border-radius: 20px;
          font-size: 12px;
          padding: 2px 10px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .contentElement {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: 500;
          gap: 20px;
          div {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
    .rightSide {
      .conImage {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
