@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&display=swap');
.error-container {
  --dot-color: #099855;
  --nav-color: #02501d;
  background-color: var(--nav-color);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.sad-emoji {
  font-size: 8rem;
  margin-bottom: 2rem;
}

.error-message {
  font-size: 2rem;
  margin-bottom: 3rem;
}
